/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * cssomeguy implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * cssomeguy.css
 *
 * cssomeguy stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (cssomeguy_cssomeguy.tpl), and to HTML elements you create dynamically
    (in cssomeguy.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/
#carson_city_play_area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    background-image: url('img/board.jpg');
    position: relative;
    width: 700px;
    height: 917px;
}

.turn_tracker {
    position: absolute;
    width: 25px;
    height: 25px;
}

.city_square {
    position: absolute;
    width: 74px;
    height: 75px;
}

.building_construction_square {
    position: absolute;
    width: 52px;
    height: 52px;
}

.city_tile {
    position: absolute;
    background-image: url('img/city_tiles.jpg');
    width: 52px;
    height: 52px;
}

.city_tile_0 {
    background-position: 0px 0px;
}

.city_tile_1 {
    background-position: -52px 0px;
}

.city_tile_2 {
    background-position: -104px 0px;
}

.city_tile_3 {
    background-position: -156px 0px;
}

.city_tile_4 {
    background-position: -208px 0px;
}

.city_tile_5 {
    background-position: -260px 0px;
}

.city_tile_6 {
    background-position: -312px 0px;
}

.city_tile_7 {
    background-position: -364px 0px;
}

.city_tile_8 {
    background-position: -416px 0px;
}

.city_tile_9 {
    background-position: -468px 0px;
}

.road_space {
    position: absolute;
}

.horizontal_road_space {
    width: 66px;
    height: 12px;
}

.vertical_road_space {
    width: 12px;
    height: 66px;
}

.road_placed {
    background-image: url('img/road.png');

}

.road_placed.horizontal_road_space {
    background-position: -10px -10px;
}

.road_placed.vertical_road_space {
    background-position: -10px -42px;
}

.counter_icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('img/icons.png');
    margin-top: 4px;
    margin-right: 3px;
}

.cowboy_icon {
    width: 20px;
    background-position: 0px 0px;
}

.money_icon {
    height: 16px;
    background-position: -20px 0px;
}

.revolver_token_icon {
    background-position: -45px 0px;
}

.road_icon {
    height: 5px;
    background-position: -70px 0px;
}

.property_tile_icon {
    background-position: -95px 0px;
}

.vp_icon {
    height: 18px;
    background-position: -120px 0px;
}

.resource_counter, .player_score_value {
    font-size: 25px;
}

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/